.accessories {
    margin-bottom: 100px;
}

.accessories__title {
    margin-bottom: 30px;
}

.accessories__text {
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
}

.accessories__catalog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog {
    border: 1px solid;
    width: 300px;
    height: 540px;
    border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
    padding: 20px 20px 0 20px;
}

.accessories__content {
    display: grid;
    grid-template-rows: 56px auto;
    gap: 15px;
    margin-bottom: 42px;
}

.catalog__title {
    color: #070707;
    font-size: 24px;
}

.catalog__price {
    color: #070707;
    font-weight: 700;
    margin-bottom: 20px;
}

.catalog__buy {
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 6px 91px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    border-image-slice: 1;
    transition: box-shadow ease 0.2s;

    &:hover {
        box-shadow: 5px 5px 15px 1px lightgray;
        transition: box-shadow ease 0.2s;
    }
}
