.product-features {
    padding: 100px 0;
}

.product-features__titles {
    display: flex;
}

.product-features__title {
    flex-basis: 300px;
    padding-right: 20px;
}

.section__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.product-features__text {
    max-width: 330px;
    font-size: 36px;
    line-height: 41px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 20px;
}

.product-features__wrapp {
    display: grid;
    grid-template-columns: 300px auto;
}

.product-features__btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.product-features__btn {
    font-family: "Helvetica-bold", sans-serif;
    font-weight: 700;
}

.product-features__btn--active {
    color: #070707;
}

.content__item {
    display: none;
}

.content__item--active {
    display: flex;
    align-items: center;
    gap: 40px;
}

.content-item__box {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: repeat(2, 150px);
}

.content-item__wrap {
    padding-bottom: 40px;
}

.content-item__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.content-item__text {
    line-height: 18.4px;
}

.content-item__video {
    width: 280px;
    height: 150px;
    background: url("../asset/img/bg_video.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

.video__play {
    margin: 0 0 9px 31px;
}

.video__text {
    font-size: 13px;
    line-height: 15px;
    color: #f6f4f5;
    padding: 0 0 10px 9px;
}
