.header {
    border-bottom: 1px solid #cacad6;
    background: #f6f4f5;
}

.nav {
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav__menu {
    display: flex;
    gap: 20px;
}

.menu__link {
    &:hover {
        text-decoration: underline;
        color: #b5b5bf;
    }
}

.nav__logo {
    justify-self: center;
}

.nav__basket {
    justify-self: end;
}

@media (max-width: 900px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

@media (max-width: 900px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

@media (max-width: 585px) {

    .nav__logo {
        width: 180px;
    }

}

@media (max-width: 430px) {

    .nav__menu {
        gap: 10px;
    }

    .nav__logo {
        width: 120px;
    }

}

@media (max-width: 350px) {

    .nav__menu {
        gap: 15px;
    }

    .nav__logo {
        display: none;
    }

}