.oculus {
    margin-bottom: 125px;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.oculus__container {
    max-width: 1700px;
    margin: 0 auto;
}

.oculus__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 400px;
    line-height: 400px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.1;
    position: absolute;
    z-index: -1;
    animation: line-animate 6s linear infinite;


    /* &::before {
        content: "";
        background: url("../asset/img/glases.png");
        width: 347px;
        height: 334px;
        position: absolute;
    } */
}

.oculus__glasses {
    /*  position: absolute;
    top: 0;
    transform: translate(50%, 20%); */
    margin-bottom: 30px;
}

.oculus__btn-price {
    background: #fff;
}

.oculus .start-page__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

@keyframes line-animate {
    from {
        transform: translateX(115%);
        transform-origin: left center;
    }

    to {
        transform: translateX(-115%);
        transform-origin: right center;
    }
}